* text=auto eol=lf

# Windows scripts (zostaw CRLF jeśli potrzebujesz)
*.bat eol=crlf
*.cmd eol=crlf

# Najczęstsze typy – wymuś LF
*.py   text eol=lf
*.js   text eol=lf
*.html text eol=lf
*.css  text eol=lf
*.yml  text eol=lf
*.yaml text eol=lf
*.sh   text eol=lf